<div class="main">
  <div class="main-area">
    <div class="inner">
      <div class="form__wrapper">
        <h2 class="page-heading">投 稿 編 集</h2>
          <%= render partial: "form", locals: { post: @post } %>
      </div>
    </div>
  </div>
</div>
