<main class="main">
  <div class="main-image">
    <img class="main-image" src="https://i.gyazo.com/c117cf90eeb03fe52ec076b935dc3569.jpg" alt="トップ画面" width="100%" height="50%" />
        <%# ログインしているときは以下を表示する %>
          <%# <div class="greeting"> %>
            <%# こんにちは、 %>
            <%# <%= link_to "ユーザー名さん", root_path, class: :greeting__link%>
          <%# </div> %>
        <%# // ログインしているときは上記を表示する %>
        <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
  </div>
</main>